.header_link {
    display: flex;
    text-decoration: none;
    /* color: white; */
    min-width: 178px;
    height: 56px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.link_content {
    display: flex;
    align-items: center;
}

@media (max-width: 1500px) {
    .span {
        font-size: 12px;
    }
}