.my_order {
    background-color: #1C1C21;
    border-radius: 40px;
    width: 844px;
}

.my_order_link {
    cursor: pointer;
    color: #F2F2F3;
    text-decoration: none;
}

.my_order_title_container {
    display: flex;
    justify-content: space-between;
}

.my_order_num {
    margin: 0;
}

.my_order_bottom_container {
    display: flex;
    justify-content: space-between;
}

.my_order_burger_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.my_order_images_container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.my_order_price_container {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.my_order_image {
    height: 64px;
    width: 64px;
    object-fit: cover;
    background: linear-gradient(#1C1C21, #1C1C21) padding-box,
        linear-gradient(45deg, #801AB2, #4C4CFF) border-box;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    margin-left: -16px;
}

.my_order_image:first-child {
    margin-left: 0px;
    z-index: 10
}

.my_order_image:nth-child(2) {
    z-index: 9;
}

.my_order_image:nth-child(3) {
    z-index: 8;
}

.my_order_image:nth-child(4) {
    z-index: 7;
}

.my_order_image:nth-child(5) {
    z-index: 6;
}

.my_order_image_span::after {
    content: "";
    background-color: #1C1C21;
    position: absolute;
    top: -60%;
    left: -142%;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    opacity: 0.6;
    z-index: -1;
}

.my_order_image_span {
    position: relative;
    left: -64px;
    display: none;
    z-index: 1;
}

.my_order_image_span_visible {
    display: block;
}