.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.page {
  width: calc(100vw - 100vw/3);
  margin: 0 auto 0 auto;
}

.sections {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  width: 600px;
}

@media (max-width: 1279px) {
  .page {
    width: calc(100vw - 100vw/10);
  }
}