.feed_id {
    width: 640px;
}

.feed_id_num {
    line-height: 64px;
}

.new_feed_id_num {
    line-height: 64px;
    display: flex;
    justify-content: center;
    margin-left: 0;
}

.feed_id_name {
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.feed_id_status {
    line-height: 40px;
}

.feed_id_images_container {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    height: 312px;
    overflow-y: scroll;
    position: relative;
}