.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.two_links_container {
    display: flex;
}

.logo {
    position: absolute;
    left: 38.7%;

    outline: violet dashed 1px;
}